.Dragable{
    cursor:move;
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
    user-select: none;
    width:20em;
    height:20em;
    top:3px;
    align-content: center;
    padding: 3px 5px;
}

.DropTarget{
    width: 34em;
    height:130em;
    background-color: #dbdcd9;
    border: 3px solid white;
}